---
import Layout from "@layouts/Layout.astro";
import NavPage from "@components/NavPage.astro";
import Section from "@layouts/Section.astro";
import Card from "@components/Card.astro";
import Person from "@components/Person.astro";
import Grid from "@components/Grid.astro";
import Accordion from "@components/Accordion.astro";
import { getCollection } from 'astro:content';
import {getNavItemFromUrlPath} from "@components/NavItems.ts"

const people = await getCollection("people");
const pageTitle = 'About';
const page = getNavItemFromUrlPath(Astro.url.pathname);
---

<Layout frontmatter={{ title: page?.title }}>
  <NavPage page={page}>
  

  <Section>

    <Grid title="Team" class="items-center">     
      {people.filter(person => person.data.status!="Inactive").map(person => (
            
          <Person key={person.id} id={person.id} image={person.data.image} first_name={person.data.first_name} last_name={person.data.last_name} title={person.data.title} />
  
      ))}
    </Grid>

  </Section>




    <Card title="Focus" /> 

      <Card class={["items-end", "text-right"]} title="Expertise">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quod
        quae harum dolorem modi dicta est nihil itaque quasi ad optio hic
        reprehenderit recusandae placeat voluptate aliquam iure id unde.
      </Card>

      <Card title="Services">
        <Accordion />
      </Card>

    </Card>

  </NavPage>
</Layout>
