---
import Layout from "@layouts/Layout.astro";
import NavPage from "@layouts/NavPage.astro";
import LayoutSection from "@layouts/LayoutSection.astro";
import Grid from "@components/Grid.astro";
import PortfolioItem from "@components/PortfolioItem.astro";
import { getCollection } from "astro:content";
import { getNavItemFromUrlPath } from "@components/NavItems.ts";

const page = getNavItemFromUrlPath(Astro.url.pathname);

const portfolios = await getCollection("portfolios");
---

<Layout frontmatter={{ title: page?.title }}>
  <NavPage page={page}>
    <LayoutSection type="subgrid">
      <Grid title="Active">
        {
          portfolios
            .filter((portfolio) => portfolio.data.status != "Inactive")
            .map((portfolio) => (
              <PortfolioItem key={portfolio.id} portfolio={portfolio} />
            ))
        }
      </Grid>
    </LayoutSection>

    <!-- <LayoutSection>
      <Card>
        <p><a href="/portfolio/exits">View exits here.</a></p>
      </Card>
    </LayoutSection> -->
    <LayoutSection type="full" class="!mt-14" >
      <Grid title="Exits">
        {
          portfolios
            .filter((portfolio) => portfolio.data.status == "Inactive")
            .map((portfolio) => (
              <PortfolioItem key={portfolio.id} portfolio={portfolio} />
            ))
        }
      </Grid>
    </LayoutSection>
  </NavPage>
</Layout>
