---
import Logo from "@assets/logo/PXL_20250121_124406946 n4 no shadow.svg";
import socialItems from "@components/SocialItems.ts";
import Logo from "@assets/logo/circle5.svg";
---

<footer
  class="footer sm:footer-horizontal text-base-content p-10 place-items-center"
>
  <aside class="justify-center items-center gap-0 w-full">

    <div class="w-full text-center"><Logo class="inline p-3 text-base-content" width="4rem" height="auto"/> </div>
    <h6 class="footer-title text-center w-full">Fogdough</h6>
    <!-- <p>Providing reliable DeFi since 2026</p> -->
  </aside>
  <form>
    <!-- <h6 class="footer-title">Newsletter</h6> -->
    <fieldset class="w-80">
      <label id="label-newsletter-email" class="hidden"
        >Enter your email address</label
      >
      <div class="join">
        <input
          aria-labelledby="label-newsletter-email"
          type="text"
          placeholder="username@site.com"
          class="input input-bordered join-item"
        />
        <button class="btn btn-primary join-item">Subscribe</button>
      </div>
    </fieldset>
  </form>
  <nav>
    <!-- <h6 class="footer-title">Social</h6> -->
    <div class="grid grid-flow-col gap-4 max-h-1">
      {
        socialItems.map((socialItem) => (
          <div class="tooltip" data-tip={socialItem.title}>
            <a
              role="button"
              href={socialItem.url}
              name={socialItem.name}
              title={socialItem.title}
              aria-label={socialItem.title}
            >
              <socialItem.icon
                width={"auto"}
                height={"2rem"}
                class="fill-base-content"
              />
            </a>
          </div>
        ))
      }
    </div>
  </nav>
</footer>
