---
import socialItems from "@components/SocialItems.ts";
---

<footer
  class="footer sm:footer-horizontal text-base-content pt-32 pb-24 m p-10 place-items-center"
>
  <aside class="justify-center items-center gap-0 w-full">

    <h6 class="xtext-center w-full">Fogdough</h6>
  </aside>
  <form>
    <!-- <h6 class="footer-title">Newsletter</h6> -->
    <fieldset class="w-80">
      <label id="label-newsletter-email" class="hidden"
        >Enter your email address</label
      >
      <div class="join">
        <input
          aria-labelledby="label-newsletter-email"
          type="text"
          placeholder="username@site.com"
          class="input input-bordered join-item"
        />
        <button class="btn btn-primary join-item">Subscribe</button>
      </div>
    </fieldset>
  </form>
  <nav>
    <!-- <h6 class="footer-title">Social</h6> -->
    <div class="grid grid-flow-col gap-4 max-h-1">
      {
        socialItems.map((socialItem) => (
          <div class="tooltip" data-tip={socialItem.title}>
            <a
              role="button"
              href={socialItem.url}
              name={socialItem.name}
              title={socialItem.title}
              aria-label={socialItem.title}
            >
              <socialItem.icon
                width={"auto"}
                height={"2rem"}
                class="fill-base-content"
              />
            </a>
          </div>
        ))
      }
    </div>
  </nav>
</footer>

<style lang="styl">
h6::before 
    content: ''
    display: inline-block
    width: 15px
    height: 15px
    border-radius: 7.5px
    background-color: orange 
    vertical-align: middle
    margin-right: 5px
    margin-top: -2px

nav 
  margin-top: -30px
</style>