---
const {
  id,
  image,
  first_name,
  last_name,
  title,
  class: addClass,
} = Astro.props;
---

<div box-="double contain:!top">
  <div class="header">
    <h6>
      {first_name}
      {last_name}
    </h6>
    <h7>{title}</h7>
  </div>
  <a
    href={`/about/people/${id}`}
    class="hover:bg-gray-100 p-4 rounded-lg"
    data-astro-prefetch
  >
    <div class="avatar self-start">
      <div class="mask mask-hexagon max-w-24">
        <img src={image} transition:name={id} />
      </div>
    </div>
  </a>
</div>
<style>
  @import "@webtui/css/utils/box.css";

  .header {
    display: flex;
    justify-content: space-between;
  }

  span, h6, h7 {
    background-color: var(--background0);
    padding: 0 1ch;
  }

</style>
