---
import { Image } from 'astro:assets';

const { id, image , first_name, last_name, title, class:addClass } = Astro.props;
---

<a href={`/people/${id}`} class="hover:bg-gray-100 p-4 rounded-lg">
  <div class="avatar self-start">
    <div class="mask mask-hexagon max-w-24">
        <Image
        src={image} 
        width=120
        height=120
        transition:name={id}
        alt={first_name +' '+ last_name}      
        />
    </div>
  </div>
  <div>
    <h6 class="mt-4 mb-2">
      {first_name} {last_name}
    </h6>
    <h7>{title}</h7>
  </div>
</a>