---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  portfolio: CollectionEntry<"portfolios">;
}

const { portfolio } = Astro.props;
const statusClass =
  portfolio.data.status == "Active" ? "badge-accent" : "badge-info";
---

<div>
  <div class="badge- avatar indicator self-start">
    <span class:list={["indicator-item badge", statusClass]}
      >{portfolio.data.status}</span
    >
    <div class="mask mask-hexagon-2 max-w-48">
      <img src={portfolio.data.image} transition:name={portfolio.id} />
    </div>
  </div>
  <h2 class="mt-7 mb-2">{portfolio.data.name}</h2>
  <div>
    {
      portfolio.data.stage && (
        <div>
          <label>stage:</label> {portfolio.data.stage}
        </div>
      )
    }
  </div>
</div>
